.blog-list {
  background: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 100%;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* Ô tìm kiếm */
.blog-list__search {
  width: 100%;
  max-width: 300px;
  margin-left: 20px;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* Cột có thể sắp xếp */
.blog-list__td {
  position: relative;
  cursor: pointer;
  user-select: none;
}
.blog-list__content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* số dòng hiển thị */
  -webkit-box-orient: vertical;
  white-space: normal;
  line-height: 1.5em;
  color: #444;
}
.blog-list__title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
  text-align: center;
  background-color: #f9f9f9;
}

.blog-list__table {
  width: 100%;
  border-collapse: collapse;
}

.blog-list__table th,
.blog-list__table td {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid #f1f1f1;
}

.blog-list__table th {
  background-color: #f0f0f0;
  color: #555;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.blog-list__td {
  font-size: 1rem;
  color: #444;
}
.blog-list__table tr:hover {
  background-color: #f7f7f7;
}
.blog-list__link {
  color: var(--primary-color) !important;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

/* Action buttons */
.blog-list__action-button {
  background-color: #fff;
  outline: 1.2px solid #007bff;
  color: #007bff;
  border: none;
  margin: 4px;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.blog-list__action-button:hover {
  background-color: #0069d9;
  transform: scale(1.02);
  color: #fff;
}
.course-list__table-wrapper {
  width: 100%;
  overflow-x: auto;
}
.blog-list__action-button--delete {
  background-color: #fff;
  outline: 1.2px solid#c82333;
  padding: 8px 13px;
  color: #c82333;
}

.blog-list__action-button--delete:hover {
  background-color: #c82333;
}
.blog-list__no-data {
  text-align: center;
  font-size: 16px;
  color: #888;
  margin-top: 20px;
}
.blog-list__action-button--image {
  background-color: #fff;
  outline: 1.2px solid#007bff;
  padding: 8px 13px;
  color: #007bff;
}

.blog-list__action-button--image:hover {
  background-color: #0056b3;
}
