.routine-result {
  padding: 20px;
  background-color: #fefefe;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

.routine-result__title {
  font-size: 24px;
  color: #113f73;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.routine-result__title svg {
  margin-right: 10px;
}

.routine-result__table th {
  background-color: #113f73;
  color: white;
  text-align: center;
  font-weight: bold;
}

.routine-result__table td {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}

.routine-result__table tr:nth-child(even) {
  background-color: #f4faff;
}

.routine-result__table tr:hover {
  background-color: #e6f0ff;
}
