/* admin-course-detail.css */

.course-detail__header {
  margin-bottom: 2rem;
}

.course-detail__title {
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--heading-font);
}

.course-detail__back-button {
  margin-top: 1rem;
}

.course-detail__info {
  margin-bottom: 2rem;
}

.course-detail__info-card {
  margin-bottom: 1rem;
}

.course-detail__sessions {
  margin-bottom: 2rem;
}
.course-detail__schedule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.course-detail__schedule-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.add-session-button {
  padding: 6px 14px;
  font-size: 16px;
  font-weight: 600;
}
.delete-session-button {
  margin: 10px 0;
}

.course-detail__session-card {
  margin-bottom: 1.5rem;
}

.course-detail__lesson-card {
  margin-bottom: 1rem;
}

.course-detail__lesson-materials {
  margin-top: 1rem;
}

.course-detail__material {
  margin-bottom: 1rem;
  padding: 8px;
}

.course-detail__material-link {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: var(--primary-color);
}

.course-detail__material-link:hover {
  text-decoration: underline;
  color: var(--primary-hover);
}

.course-detail__back-link {
  display: inline-block;
  margin-top: 1rem;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
}

.course-detail__back-link:hover {
  text-decoration: underline;
  color: var(--primary-hover);
}

/* Đặt kiểu cho phần hiển thị thời gian */
.course-detail__time {
  font-size: var(--base-font-size);
  color: var(--text-gray);
  margin: 0.5rem 0;
  line-height: var(--base-line-height);
}

.course-detail__time strong {
  font-weight: bold;
  color: var(--primary-color);
  margin-right: 0.5rem;
}

.material {
  display: flex;
  align-items: center;
  gap: 8px;
}

.material a {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.material a:hover {
  color: var(--primary-hover);
}
